body{
    font-family: Arial;
    background:#f9f9f9;
    text-align:center;
    padding:40px;
}

h2{
    color:#c00;
}

p{
    background:white;
    display:inline-block;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    border-radius:8px;
}

a{
    display:block;
    margin-top:25px;
    color:#fff;
    background:#000;
    padding:10px;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    text-decoration:none;
    border-radius:5px;
}
