body{
    font-family: Arial;
    background:#f0f0f0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}




.container{
    width: 400px;
}

.login-card{
    background:white;
    padding:30px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    border-radius:10px;
}

.login-card h2{
    text-align:center;
    color:#c00;
}

.login-card input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.login-card button{
    width:100%;
    padding:10px;
    background:#c00;
    color:white;
    border:none;
    cursor:pointer;
}

.login-card .error{
    color:red;
    font-size:0.85rem;
    text-align:center;
}
