table{
    margin:30px auto;
    border-collapse:collapse;
}
td,th{
    border:1px solid #000;
    padding:10px;
}
footer{
    background:#c00;
    color:white;
    padding:20px;
    text-align:center;
    height: 300px;
}