body{
    font-family: Arial, sans-serif;
    background:#a2d7e4;
    text-align:center;
    padding:30px;
}

h2{
    color:#c00;
    margin-bottom:20px;
}

ul{
    list-style:none;
    padding:0;
    max-width:350px;
    margin:0 auto;
}

ul li{
    background:white;
    padding:12px;
    margin:8px 0;
    border-radius:5px;
    box-shadow:0 0 6px rgba(0,0,0,0.1);
}

a{
    display:inline-block;
    margin-top:20px;
    background:black;
    color:white;
    padding:8px 14px;
    text-decoration:none;
    border-radius:5px;
}
footer{
    background:#c00;
    color:white;
    padding:20px;
    text-align:center;
    height: 300px;
}
